@font-face {
  font-family: "iconfont"; /* Project id 2376698 */
  src: url('iconfont.woff2?t=1628591033485') format('woff2'),
       url('iconfont.woff?t=1628591033485') format('woff'),
       url('iconfont.ttf?t=1628591033485') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chazhaobiaodanliebiao:before {
  content: "\e76a";
}

.icon-liebiao:before {
  content: "\e62b";
}

.icon-fangzu:before {
  content: "\e65f";
}

.icon-cz-zxsb:before {
  content: "\e80c";
}

.icon-caidanfangyuan:before {
  content: "\e61a";
}

.icon-liebiao1:before {
  content: "\e8ce";
}

.icon-xiangqing:before {
  content: "\e817";
}

.icon-users:before {
  content: "\e8a2";
}

.icon-weixiu:before {
  content: "\e624";
}

.icon-shuidianbiaochaobiao:before {
  content: "\e65d";
}

.icon-fangyuan:before {
  content: "\e610";
}

.icon-fangwuzhuangtai-zhu:before {
  content: "\e629";
}

.icon-fangwuzhuangtai-zu:before {
  content: "\e62a";
}

.icon-fangwuzhuangtai-kong:before {
  content: "\e638";
}

.icon-shenbaoxinxi:before {
  content: "\e67d";
}

.icon-shuidian:before {
  content: "\e6a4";
}

.icon-loudongguanli:before {
  content: "\e60e";
}

.icon-fangwu:before {
  content: "\e75e";
}

.icon-zhankai:before {
  content: "\e60b";
}

.icon-xiugai:before {
  content: "\e6db";
}

.icon-fenxi:before {
  content: "\e8ab";
}

.icon-wicon-IT-gong-xiang:before {
  content: "\e600";
}

.icon-biaoqian:before {
  content: "\e66d";
}

.icon-dengpao:before {
  content: "\e601";
}

.icon-shixian:before {
  content: "\e602";
}

.icon-xitongguanli:before {
  content: "\e608";
}

.icon-shujutongbu:before {
  content: "\e633";
}

.icon-tubiaozhengli-259:before {
  content: "\e685";
}

.icon-shujuzhanshi:before {
  content: "\e6ba";
}

.icon-shebeishezhi:before {
  content: "\e708";
}

.icon-shiyanguanli:before {
  content: "\e605";
}

.icon-shujucaiji:before {
  content: "\e60a";
}

